#fanoronaboard {
    display: grid;
    grid-template-columns: repeat(9, 155px);
    grid-template-rows: repeat(5, 155px);
    width: 1400px;
    padding-top: 60px;
    padding-left: 60px;
    height: 800px;
    /* background-color: aquamarine; */
    background-image: url('board.png');
    background-size:cover;
    background-repeat: no-repeat;
}